@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border-dark;
  }
  
  body {
    @apply bg-background-light dark:bg-background-dark font-display text-slate-900 dark:text-white antialiased overflow-x-hidden;
  }
}

@layer components {
  .material-symbols-outlined {
    font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 24;
  }
  
  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-emerald-300 to-primary;
  }
  
  .layout-container {
    @apply flex justify-center w-full;
  }
  
  .layout-content-container {
    @apply flex flex-col max-w-[1280px] w-full;
  }
}